log.txt
вопросы.txt
новый 1.txt
требования к проекту.txt
maximize.xlsm
pre_sample_r1.xlsx
pre_sample_r2.xlsx
sample_fda_var1.xlsm
sample_fda_var2.xlsm
sample_gk_var1.xlsm
Детекторы - 2024.xlsx
.gitignore
/QGIS/*
/out/Р-119/*
/out/Р-120/*
/out/basic_stats_intensivnosti — копия.xlsx
/out/basic_stats_SSID — копия.xlsx
/pythonProject/detectors - fda_rosautodor OLD.py
/pythonProject/detectors_fda_rosautodor.py
/pythonProject/detectors_gk_autodor OLD.py
/pythonProject/detectors_gk_autodor.py

/raw_data/2024/**/

/raw_data/2023/**/